[Unit]
Description=Quality of Service daemon
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/sbin/qos start > /dev/null 2>&1
ExecStop=/usr/local/sbin/qos stop > /dev/null 2>&1

[Install]
WantedBy=default.target
