[Unit]
Description=Quality of Service daemon
Wants=network-online.target
After=network.target network-online.target docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStart=/usr/local/sbin/qos start
ExecStop=/usr/local/sbin/qos stop

[Install]
WantedBy=multi-user.target
